.header{

    &__container {
        position: relative;
        margin: 22px auto 123px 178px;
    }

    &__logo{
        width: 30px;
        position: absolute;
        left: -45px;
        top:3px;
    }

}