/*font-family: 'Poppins', sans-serif;*/

* {
    margin: 0;
    padding: 0;
}

:root {
    --main-font: 'Poppins', sans-serif;
}

.page--wrapp {
    max-width: 1400px;
    max-height: 3843px;
}

.header {
    font-family: var(--main-font);
    min-height: 78px;
    margin: 20px auto 0;

}

.box {
    display: inline-block;
}

.header__logo {
    min-width: 185px;
    margin-left: 144px;
    margin-top: 22px;
}

.header__list--wrapp {
    margin-left: 320px;
}

.header__list {
    list-style: none;
    display: flex;
    gap: 5px;
    
}

.header__list-item:hover {
    filter: drop-shadow(0px 4px 4px black);
    transition: transform 0.5s;
}

.header__list-text {
    list-style: none;
    color: #2F281E;
    text-decoration: none;
    margin-right: 29px; 
    font-family: var(--main-font);
    font-weight: 400;
    font-size: 14px;
    line-height: 28px;
}

.Sign--in {
    width: 102px;
    height: 46px;
    margin-right: 14px;
    background: #BCD0E5;
    border: 1px solid black;
    border-radius: 5px;
    color: #173A56;
    font-family: var(--main-font);
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;

}

.Sign--in:hover {
    filter: drop-shadow(0px 4px 4px gray);
    transition: transform 0.5s;
}


.Sign--up {
    width: 110px;
    height: 46px;
    background: #FF9900;
    border: 1px solid black;
    border-radius: 5px;
    color: white;
    font-family: var(--main-font);
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
}

.Sign--up:hover {
    filter: drop-shadow(0px 4px 4px orange);
    transition: transform 0.5s;
}

.container {
    display: flex;
    justify-content: center;
    max-width: 1125px;
}

.get--started {
    display: flex;
    flex-wrap: wrap;
    flex-grow: unset;
}
