* {
    padding: 0;
    margin: 0;
}

:root {
    --main-font: 'Open Sans', sans-serif;
    --main-font-title: #070707;
}

body {
    font-family: var(--main-font);
    color: var(--main-font-title);
}

.container {
    width: 100%;
    max-width: 943px;
    margin: 0 auto;
    /* margin-top: 0;
    margin-bottom: 0;
    margin-left: auto;
    margin-right: auto; */
}

.sub-title {
    font-weight: 700;
    font-size: 34px;
    line-height: 46px;
    text-align: center;
}

.text {
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    text-align: center;
}

section:nth-child(2n) {
    background-color: #f6f6f6;
}

.header__menu-item {
    list-style: none;
}

.header__menu {
    padding: 29px 0;
    margin-bottom: 33px;
    border-bottom: 1px solid #828282;
}

.header__menu-container {
    display: flex;
    justify-content: center;
    gap: 40px;
}

.header__menu-title {
    display: block;
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    color: #828282;
    text-decoration: none;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    transition: transform 0.5s;
}

.header__menu-title:hover {
    color: var(--main-font-title);
    transform: scale(1.1);
}

.header__title {
    font-weight: 700;
    font-size: 47px;
    line-height: 64px;
    color: var(--main-title);
    margin-bottom: 38px;
}

.header__img {
    width: 943px;
    height: 387px;
    background-image: url(../image/title.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    margin-bottom: 100px;
}

.about-me {
    padding: 100px 0;
}

.about-me__container {
    max-width: 480px ;
}

.about-me__sub-title {
    margin-bottom: 28px;
}

.about-me__text {
    margin-bottom: 48px;
}

.about-me__text:nth-child(2):hover {
    transform: skew(30deg, 20deg);
    color: aqua;
 }

.about-me__text:nth-child(3):hover {
    transform:  scale(0.5) translate(-100%, -100%);
 }
 

.about-me__text:last-child {
    margin-bottom: 0;
}

.about-me__text:last-child:hover {
   transform: rotate(45deg);
}
