/* font-family: 'Montserrat', sans-serif; */

*{
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Montserrat', sans-serif;
}

.left {
    background-color: #1E2939;
    position: absolute;
    width: 370px;
    height: 1319px;

}

.left__img {
    padding-top: 40px;
    background-color: #1E2939;
    
}

.left__title {
    margin-top: 51px;
    margin-left: 40px;
    width: 104px;
    height: 27px;
    font-weight: 700;
    font-size: 22px;
    line-height: 27px;
    color: #FFFFFF;
    margin-bottom: 8px;
}

.left__contacts {
    margin-left: 40px;
    font-weight: 700;
    font-size: 14px;
    line-height: 24px;
    color: #FFFFFF;
}

.left__contacts--thin {
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #FFFFFF;
    opacity: 0.5;
    margin-left: 6px;
}

.left__skills {
    margin-left: 40px;
    margin-top: 47px;
    font-weight: 700;
    font-size: 22px;
    line-height: 27px;
    color: #FFFFFF;
    margin-bottom: 8px;
}

.left__list {
    font-weight: 700;
    font-size: 14px;
    line-height: 24px;
    color: #FB6D3A;
    margin-left: 55px;
}

.left__list-item--white {
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #FFFFFF;
}

.left__softs {
    margin-left: 44px;
    margin-top: 47px;
    font-weight: 700;
    font-size: 22px;
    line-height: 27px;
    color: #FFFFFF;
    margin-bottom: 8px;
}

.portfolio {
    padding: 102px 88px;
    margin-left: 370px;
        
}

.portfolio__roli-container{
    max-width: 443px;
    margin-bottom: 64px;
    
}
.portfolio__roli {
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #595959;
    margin-bottom: 19px;
}

.portfolio__name {
    font-weight: 700;
    font-size: 45px;
    line-height: 55px;
    color: #000000;
    margin-bottom: 24px;
}

.portfolio__text {
    font-family: 'Montserrat';
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #595959;
}

.portfolio__project{
    max-width: 485px;
    margin-bottom: 51px;
}

.portfolio__project-name{
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 22px;
    line-height: 27px;
    color: #000000;
}

.portfolio__project-list {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 24px;
    color: #000000;
    margin-bottom: 8px;
    margin-left: 15px;
}

.portfolio__project-list--item {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #595959;
    margin-bottom: 51px;
}

.portfolio__work {
    max-width: 525px;
}

.portfolio__work-name {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 27px;
    color: #000000;
    margin-bottom: 12px;
}

.portfolio__work-subname {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    color: #000000;
    margin-bottom: 11px;
}

.portfolio__work-subname--orange {
    color:coral ;
}

.portfolio__work-date {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    color: #A8A8A8;
    margin-bottom: 8px;
}

.portfolio__work-date--black {
    color: #000000;
}

.portfolio__work-list {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #595959;
    margin-left: 15px;
    margin-bottom: 16px;
}

.portfolio__work-list--item {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #595959;
}

.portfolio__work-subname--second {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    color: #000000;
    margin-bottom: 11px;
    margin-top: 16px;
}

.portfolio__work-subname--third {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    color: #000000;
    margin-bottom: 11px;
    margin-top: 20px;
}

.education__title {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 27px;
    color: #000000;
    margin-top: 43px;
}

.education__name {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    color: #FB6D3A;
    margin-top: 12px;
}

.education__position {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    color: #000000;
    margin-top: 11px;
}

.education__period {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    color: #A8A8A8;
    margin-top: 12px;
}

.education__period--black {
    color: #000000;
}

