body {
    font-family: $main-font;
    background: $main-color;
    color: $main-text;
}

.container {
    max-width: 1170px;
    
}

.h2 {
    font-family: $logo-font;
    font-weight: 500;
    font-size: 35px;
    line-height: 35px;
}

.h1 {
    font-family: $sub-font;
    font-weight: 600;
    font-size: 40px;
    line-height: 52px;
    letter-spacing: 0.2px;
}

.h3 {
    font-weight: 400;
    font-size: 24px;
    line-height: 21px;
    letter-spacing: 0.2px;
}

.h5 {
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    color: $down-text;
}

.service__box {
    max-width: 370px;
    border: 1px solid $color-border;
    border-radius: 8px;


    &:hover {
        border: 1px solid $down-text;
        border-radius: 8px;
    }

    &-item {
        margin: 40px;
        gap: 30px;
    }
    
    &-title {
        margin-bottom: 15px;
    }

    &-text {
        margin-bottom: 30px;
    }

    &-down {
        cursor: pointer;
    }
}