/*font-family: 'Roboto', sans-serif;*/

* {
    padding: 0;
    margin: 0;
}

:root {
    --main-font: 'Roboto', sans-serif;
}

.page--wraper {
    font-family: val(--main-font);
    background-color: #3B3F45;
    width: 100%;
    max-width: 793px;
    height: 507px;
    margin: 0 auto;
    border: 10px solid white;
}

.header {
    height: 82px;
    background-color: #4A4F56;
    
}

.header h1,p {
    text-align: center;
    color: #FF8984;
}